
div.login-window {
  display: flex;
  flex-flow: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

div.login-container {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 17.5rem auto;
  height: 80%;
  width: 75%;
  max-width: 65rem;
  min-width: 48rem;
  min-height: 30rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  background: #2a4eb03d;
  padding: 0;
  box-shadow: 0.5rem 0.5rem 0.25rem grey;
  overflow: hidden;
  background-image: linear-gradient(#FC8100, #FF9423);
}

div.login-form {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}

div.login-form p{
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

div.login-submit {
  display: flex;
  justify-content: center;
}

div.login-submit .btn-login {
  height: 3rem;
  width: 7.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 40px;
  border: 1px solid #007D2A;
  background-color: #1DB952;
  margin-top: 2rem;
}

div.login-submit .btn-login:hover {
  background-color: #039F38;
}

div.login-image {
  grid-column: 2;
  grid-row: 1 / 4;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
  border-left: 0.05rem solid black;
  background: white;
}

div.login-image img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 0.85;
}
