.accordion{
    border: 1px solid white;
}

.saved-game-page-container{
    width: 76%;
    height: 80%;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
}

.my-game-card{
    display: grid;
    grid-template-columns: 43%  14% 43%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.accordian-bg-frisbee{
    background-image: url('../../assets/accordian-bg-frisbee.jpg');
}

.accordian-bg-soccer{
    background-image: url('../../assets/accordian-bg-soccer.jpg');
}

.accordian-bg-basketball{
    background-image: url('../../assets/accordian-bg-basketball.jpg');
}

.accordian-bg-volleyball{
    background-image: url('../../assets/accordian-bg-volleyball.jpg');
}

.accordian-bg-tennis{
    background-image: url('../../assets/accordian-bg-tennis.jpg');
}

.saved-games-header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       
}

.saved-games-header-emoji{
    grid-column: 1;
    font-size: 2.5rem;
    margin-left: 3.5rem;
    align-self: center;
}

.saved-games-header-facility{
    grid-column: 2;
    font-size: 1.4rem;
    align-self: center
}

.saved-games-header-date{
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 1.2rem;
    margin-left: 2rem;
    align-self: center
}

.saved-games-remove-button{
    grid-column: 3;
    grid-row: 5;
    height: 3rem;
    width: 7rem;
    justify-self: right;
    font-size: 1.1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 1px grey;
    opacity: 0.95;
    color: white;
}

.saved-game-distance{
    grid-column: 3;
    grid-row: 2;
    text-align: right;
    color: white;
    text-shadow: 1px 1px #4c4c4c;
    margin-top: 1.6rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}


.saved-games-players{
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    color: white;
    text-shadow: 1px 1px #4c4c4c;
    font-size: 1.8rem;
    margin-top: 1.6rem;
    margin-right: 2rem;
    font-weight: bold;
}

.saved-games-map{
    height: 18rem;
    width: 100%;
    margin: 1.3em;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
}